:root {
  --color-black: #343353;
  --color-black-transparente: hsla(242, 24%, 26%, 0.8);
  --color-red: #ff4c60;
  --color-yellow: #ffd15c;
  --color-white: #f9f9ff;
  --color-font: #5e5c7f;
  --color-blue: #6c6ce5;
  --color-green: #4caf50;
  --color-shadow: 0px 5px 20px 0px rgba(69, 67, 96, 0.1);
}

body {
  margin: 0;
  padding: 0;
  color: var(--color-font);
  background: var(--color-black);
  /* background: white; */
  font-family: "Rubik", Arial, Helvetica, sans-serif;
}

#root {
  background: var(--color-white);
  position: relative;
  padding: 0 24px;
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  /* outline: 1px solid red; */
}

p.effect {
  position: absolute;
  margin-left: 24px;
}
